.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.custom-span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.project {
  margin: 15px 0;
}

.no-gutter .project {
  margin: 0 !important;
  padding: 0 !important;
}

.has-spacer {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-spacer-extra-space {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-side-spacer {
  margin-left: 30px;
  margin-right: 30px;
}

.project-title {
  font-size: 1.25rem;
}

.project-skill {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
}

.project-info-box {
  margin: 15px 0;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
}

.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

.project-info-box p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.rounded {
  border-radius: 5px !important;
}
.btn-xs.btn-icon {
  width: 34px;
  height: 34px;
  max-width: 34px !important;
  max-height: 34px !important;
  font-size: 10px;
  line-height: 34px;
}

.btn-xs.btn-icon span,
.btn-xs.btn-icon i {
  line-height: 34px;
}
.btn-icon.btn-circle span,
.btn-icon.btn-circle i {
  margin-top: -1px;
  margin-right: -1px;
}
.btn-icon i {
  margin-top: -1px;
}
.btn-icon span,
.btn-icon i {
  display: block;
  line-height: 50px;
}
a.btn,
a.btn-social {
  display: inline-block;
}
.mr-5 {
  margin-right: 5px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.btn-circle {
  border-radius: 50% !important;
}
.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}
p {
  font-family: "Barlow", sans-serif !important;
  font-weight: 300;
  font-size: 1rem;
  color: #686c6d;
  letter-spacing: 0.03rem;
  margin-bottom: 10px;
}
b,
strong {
  font-weight: 700 !important;
}

.img-card-event {
  width: 80%;
  height: 20vw;
  object-fit: cover;
}

.section_title {
  margin-bottom: 75px;
}

.section_title h2 {
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
}

.section_title p {
  font-size: 14px;
  line-height: 30px;
  color: #777777;
  margin-bottom: 0px;
}

.title_color {
  color: #222222;
}
.user-info-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: -1px;
  padding-top: 90px;
  padding-bottom: 30px;
  border: 1px solid #e1e7ec;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
}

.user-info-wrapper .user-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-position: center;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-info-wrapper .user-cover .tooltip .tooltip-inner {
  width: 230px;
  max-width: 100%;
  padding: 10px 15px;
}

.user-info-wrapper .info-label {
  display: block;
  position: absolute;
  top: 18px;
  right: 18px;
  height: 26px;
  padding: 0 12px;
  border-radius: 13px;
  background-color: #fff;
  color: #606975;
  font-size: 12px;
  line-height: 26px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.user-info-wrapper .info-label > i {
  display: inline-block;
  margin-right: 3px;
  font-size: 1.2em;
  vertical-align: middle;
}

.user-info-wrapper .user-info {
  display: table;
  position: relative;
  width: 100%;
  padding: 0 18px;
  z-index: 5;
}

.user-info-wrapper .user-info .user-avatar,
.user-info-wrapper .user-info .user-data {
  display: table-cell;
  vertical-align: top;
}

.user-info-wrapper .user-info .user-avatar {
  position: relative;
  width: 115px;
}

.user-info-wrapper .user-info .user-avatar > img {
  display: block;
  width: 100%;
  border: 5px solid #fff;
  border-radius: 50%;
}

.user-info-wrapper .user-info .user-avatar .edit-avatar {
  display: block;
  position: absolute;
  top: -2px;
  right: 2px;
  width: 36px;
  height: 36px;
  transition: opacity 0.3s;
  border-radius: 50%;
  background-color: #fff;
  color: #606975;
  line-height: 34px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  text-align: center;
  text-decoration: none;
}

.user-info-wrapper .user-info .user-avatar .edit-avatar::before {
  font-family: feather;
  font-size: 17px;
  content: "\e058";
}

.user-info-wrapper .user-info .user-avatar:hover .edit-avatar {
  opacity: 1;
}

.user-info-wrapper .user-info .user-data {
  padding-top: 48px;
  padding-left: 12px;
}

.user-info-wrapper .user-info .user-data h4 {
  margin-bottom: 2px;
}

.user-info-wrapper .user-info .user-data span {
  display: block;
  color: #9da9b9;
  font-size: 13px;
}

.user-info-wrapper + .list-group .list-group-item:first-child {
  border-radius: 0;
}

.user-info-wrapper + .list-group .list-group-item:first-child {
  border-radius: 0;
}
.list-group-item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
a.list-group-item {
  padding-top: 0.87rem;
  padding-bottom: 0.87rem;
}
a.list-group-item,
.list-group-item-action {
  transition: all 0.25s;
  color: #606975;
  font-weight: 500;
}
.with-badge {
  position: relative;
  padding-right: 3.3rem;
}
.list-group-item {
  border-color: #e1e7ec;
  background-color: #fff;
  text-decoration: none;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.badge.badge-primary {
  background-color: #0da9ef;
}
.with-badge .badge {
  position: absolute;
  top: 50%;
  right: 1.15rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.list-group-item i {
  margin-top: -4px;
  margin-right: 8px;
  font-size: 1.1em;
}
.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.user-view-table td {
  padding-right: 0;
  padding-left: 0;
  border: 0;
}
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}
.img-details{
  width: 100%;
  max-width: 100%;
  height: auto;
  
}
.project {
  margin-bottom: 30px;
  vertical-align: top;
  margin-right: 10px;
  float: left;
  cursor: pointer;
  width:100%;
}

.project figure {
  position: relative;
  display: inline-block;
  width: 283px;
  -moz-box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
  -webkit-box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
  box-shadow: 0 3px 0 #e2e2e2,transparent 0 0 0;
  -webkit-box-shadow: 0 3px 0 #e2e2e2;
  -moz-box-shadow: 0 3px 0 #e2e2e2;
  box-shadow: 0 3px 0 #e2e2e2;
}

.project figure figcaption {
  position: relative;
  z-index: 10;
  padding: 8px 18px 11px;
  background: #fff;
  -ms-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  text-align: left;
  color: #555;
}

.project figure:hover .actions {
  opacity: 1;
}

.project figure .actions {
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(29,29,29,.7);
  -ms-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.project figure img {
  border: 0;
  width: 100%;
  height: 10vw;
  object-fit: cover;
}
.btn-warning bnt-action{
  margin: 0% 0% auto;    
}

figcaption .project-details {
  display: block;
  font-size: 16px;
  line-height: 33px;
  color: #0093d0;
  height: 27px;
  width: 85%;
  margin-bottom: 5px;
  overflow: hidden;
}

figcaption .project-price {
  position: absolute;
  right: 15px;
  top: 12px;
  font-size: 22px;
  text-align: right;
  margin-top: 8px;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

figcaption .project-creator {
  font-size: 13px;
  color: #545454;
  display: block;
}

figcaption .project-creator {
  font-size: 13px;
  color: #545454;
  display: block;
}

.project figure .actions .button {
  padding: 13px 20px;
  font-size: 16px;
  top: 32%;
  position: absolute;
  left: 50%;
  width: 90%;
  margin-left: -45%;
  line-height: 18px;
  letter-spacing: 1px;
}    
.carouselItem{
  padding-right: 40px
}  

.home-blog {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 992px) {
  .home-blog {
      padding-top: 100px;
      padding-bottom: 100px;
  }
}
.home-blog .section-title {
  padding-bottom: 15px;
}
.home-blog .media {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .home-blog .media {
      margin-top: 30px;
  }
}
.bg-sand {
  background-color: #f5f5f6;
}
.media.blog-media {
  margin-top: 30px;
  position: relative;
  display: block;
}
@media (min-width: 992px) {
  .media.blog-media {
      display: table;
  }
}
.media.blog-media .circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  position: absolute;
  padding: 0;
  top: 20px;
  left: 20px;
  text-align: center;
  box-shadow: none;
  transform: translateX(0);
  color: #fff;
  transition: background-color 0.3s ease;
}
.media.blog-media .circle .day {
  color: #fff;
  transition: color 0.25s ease;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  margin-top: 12px;
}
.media.blog-media .circle .month {
  text-transform: uppercase;
  font-size: 14px;
}
.media.blog-media > a {
  position: relative;
  display: block;
  text-decoration: none;
}
@media (min-width: 992px) {
  .media.blog-media > a {
      display: table-cell;
      vertical-align: top;
      min-width: 200px;
  }
}
@media (min-width: 1200px) {
  .media.blog-media > a {
      min-width: 230px;
  }
}
.media.blog-media > a:before {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.3s ease, opacity 0.3s;
  background: grey(12, 198, 82, 0.7);
}
.media.blog-media > a img {
  width: 20vw;
  object-fit: cover;
  height: 17vw;
  
}

.media.blog-media:hover > a:before {
  opacity: 1;
  transform: scale(1);
}
.media.blog-media:hover .circle {
  background-color: rgba(255, 255, 255, 0.9);
}
.media.blog-media:hover .circle .day,
.media.blog-media:hover .circle .month {
  color: #222;
}
.media.blog-media:hover .media-body h5 {
  color: grey;
}
.media.blog-media:hover .media-body a.post-link {
  color: grey;
  text-decoration: underline;
}
.media.blog-media .media-body {
  border: 1px solid #efeff3;
  padding: 30px 30px 10px;
  font-size: 14px;
  background: #fff;
  border-top: none;
  
}
@media (min-width: 992px) {
  .media.blog-media .media-body {
      padding: 15px 20px 10px;
      border-top: 1px solid #efeff3;
      border-left: none;
      display: table-cell;
      vertical-align: top;
  }
}
@media (min-width: 1200px) {
  .media.blog-media .media-body {
      padding: 30px 20px 10px;
  }
}
.media.blog-media .media-body h5 {
  transition: color 0.3s ease;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .media.blog-media .media-body h5 {
      font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .media.blog-media .media-body h5 {
      margin-bottom: 15px;
      font-size: 18px;
  }
}
.media.blog-media .media-body a.post-link {
  display: block;
  color: #222;
  font-size: 11px;
  padding: 23px 0;
  text-transform: uppercase;
  font-weight: 400;
}
@media (min-width: 992px) {
  .media.blog-media .media-body a.post-link {
      padding: 7px 0;
  }
}
@media (min-width: 1200px) {
  .media.blog-media .media-body a.post-link {
      padding: 23px 0;
  }
}
.media.blog-media .media-body ul {
  position: relative;
  padding: 10px 0 0;
}
.media.blog-media .media-body ul li {
  display: inline-block;
  width: 49%;
  position: relative;
}
.media.blog-media .media-body ul li:before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  width: 1px;
  height: 14px;
  background: #eeeef2;
}
.media.blog-media .media-body ul li:first-child:before {
  visibility: hidden;
}
.media.blog-media .media-body ul:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #eeeef2;
}
.carousel-item{
  height: 400px;
} 
.carousel-item img{
  position: absolute;
  object-fit:cover;
  top: 0;
  left: 0;
  min-height: 400px;
}
.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}